/* I wanted to try and define as much as I could using variables so I could make quick changes later */
:root {
  --main-background-color: rgb(50, 50, 50);
  --title-color: darkblue;
  --main-text-color: white;
  --gradient-end-color: rgba(0, 0, 139, 0);
  --shadow-color: rgb(195, 60, 84);
}
* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}

header {
  border: solid var(--main-background-color) 2px;
  background-color: var(--title-color);
  display: flex;
  flex-wrap: wrap;
}

#my-avatar {
  display: inline;
  justify-self: right;
  width: 17%;
}

.main-title-bar {
  font-size: 400%;
  background-color: var(--title-color);
  width: 81%;
  margin-left: 2%;
}

.main-navbar {
  display: flex;
  justify-self: right;
  width: 100%;
  background-image: linear-gradient(
    to right,
    var(--title-color),
    var(--main-background-color)
  );
}

.main-navbar div {
  background-color: transparent;
  display: inline;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 120%;
}

.main-body section {
  display: flex;
  margin-bottom: 20px;
}

.section-title-holder {
  display: flex;
  border-right: solid var(--title-color) 2px;
  margin: 0px 10px 0px 0px;
  flex: 0 0 22%;
  background-image: linear-gradient(
    to left,
    var(--title-color),
    var(--gradient-end-color)
  );
  /* WHY DO THE MARGINS ALL LINE UP FINE WHEN I USE FLEX BUT NOT WHEN I USE WIDTH???? */
  /* width: 22%;  */
}
.main-body section h2 {
  display: flex;
  justify-self: center;
  align-self: center;
  font-size: 300%;
  background-color: transparent;
}

.main-body section div {
  display: flex;
  display: inline;
  border-top: solid var(--title-color) 2px;
}

p {
  display: flex;
  font-size: 150%;
}

.main-body section h2,
div {
  display: flex;
  display: inline;
}

.project-card-holder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.section-content-holder {
  width: 100%;
}

#top-card {
  display: flex;
  width: 100%;
  background-image: url("./images/lorem-photo.jpg");
  background-size: cover;
  background-position: center;
}

.card {
  /* border: dotted var(--shadow-color) 2px; */
  box-shadow: 5px 5px 10px var(--shadow-color);
  margin: 1%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 20%;
  height: 200px;
}

figure p {
  font-size: 100%;
}

figure {
  background-image: linear-gradient(
    to right,
    var(--title-color),
    var(--gradient-end-color)
  );
  /* background-color: transparent; */
}

figure h3,
figure p {
  background-color: transparent;
  /* This creates a text shadow surrounding each letter to make card text visible against any picture background */
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
