/* I wanted to try and define as much as I could using variables so I could make quick changes later */
:root {
  --main-background-color: rgb(50, 50, 50);
  --title-color: darkblue;
  --main-text-color: white;
  --gradient-end-color: rgba(0, 0, 139, 0);
  --shadow-color: rgb(195, 60, 84);
  --link-color: rgb(255, 188, 181);
}
* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}

header {
  border: solid var(--main-background-color) 2px;
  background-color: var(--title-color);
  display: flex;
  flex-wrap: wrap;
}

.main-title-bar {
  font-size: 400%;
  background-color: var(--title-color);
  width: 81%;
  margin-left: 2%;
}

.main-navbar {
  display: flex;
  width: 100%;
  background-image: linear-gradient(
    to right,
    var(--title-color),
    var(--main-background-color)
  );
}

.main-navbar div {
  background-color: transparent;
  border-right: solid var(--main-background-color) 4px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 150%;
}

a {
  background-color: transparent;
  text-decoration: none;
}

#my-avatar {
  display: inline;
  justify-self: right;
  width: 17%;
}
/* Frankly I need to find a better banner image that goes better with the other colors in the page */
.welcome-banner {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url("./images/banner-photo.jpg");
  background-size: cover;
  background-position: center;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#the-past {
  align-self: flex-end;
  background-color: transparent;
  font-size: 100%;
  padding: 0% 2%;
}
#the-future {
  align-self: flex-start;
  background-color: transparent;
  font-size: 150%;
  padding: 0% 2%;
}

.main-body section {
  display: flex;
  margin-bottom: 20px;
}

.section-title-holder {
  border-right: solid var(--title-color) 2px;
  margin: 0px 10px 0px 0px;
  flex: 0 0 22%;
  background-image: linear-gradient(
    to left,
    var(--title-color),
    var(--gradient-end-color)
  );
}
.main-body section h2 {
  display: flex;
  justify-self: center;
  align-self: center;
  font-size: 300%;
  background-color: transparent;
}

.main-body section div {
  display: flex;
  display: inline;
  border-top: solid var(--title-color) 2px;
}

p {
  display: flex;
  font-size: 150%;
}

.main-body section h2,
div {
  display: flex;
  display: inline;
}

.project-card-holder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.section-content-holder {
  width: 100%;
}

#top-card {
  flex: 1 1 1000px;
  background-image: url("./images/lorem-photo.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
}

#card-2 {
  background-image: url("./images/study.jpg");
  background-size: cover;
  background-position: center;
}

#card-3 {
  background-image: url("./images/accessibility-site.jpg");
  background-size: cover;
  background-position: center;
}

#card-4 {
  background-image: url("./images/flashDashPhoto.jpg");
  background-size: cover;
  background-position: center;
}

#card-5 {
  background-image: url("./images/Placeholder.jpg");
  background-size: cover;
  background-position: center;
}
.section-content-holder a {
  color: var(--link-color);
}
.card {
  box-shadow: 5px 5px 10px var(--shadow-color);
  margin: 1%;
  width: 23%;
  height: 300px;
}

figure p {
  font-size: 100%;
}

figure {
  background-color: transparent;
  width: fit-content;
}

figure h3,
figure p {
  background-image: linear-gradient(
    to right,
    var(--title-color),
    var(--shadow-color)
  );
  /* This creates a text shadow surrounding each letter to make card text visible against any picture background */
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 999px) {
  header {
    flex-direction: column;
  }
  .main-title-bar {
    align-self: center;
    margin-left: 5%;
    font-size: 9vw;
  }
  .main-navbar {
    justify-content: center;
    background-image: linear-gradient(
      to right,
      var(--main-background-color),
      var(--title-color),
      var(--main-background-color)
    );
  }
  .main-navbar div {
    font-size: 250%;
  }

  #my-avatar {
    content: url("./images/TheEyesOfWillyB.jpg");
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .card {
    width: 48%;
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 98%;
    height: 200px;
  }
  .main-navbar {
    font-size: 2vw;
  }
}
